[submodule "cs_py"]
	path = cs_py
	url = https://github.com/jrosilam/SpaceX-Data-Sci-Capstone.git
[submodule "side_projects/loan_proj"]
	path = side_projects/loan_proj
	url = https://github.com/jrosilam/loan_proj.git
[submodule "side_projects/stock_proj"]
	path = side_projects/stock_proj
	url = https://github.com/jrosilam/stock_proj.git
